In [1]:
import pandas as pd

In [ ]:
arquivo_base_hml_sergio = 'C:\\Temp\\vol_frota_sergio\\ZTSD088_06_22_OtimLog sem formulas.xlsx'

base_sergio = pd.read_excel(arquivo_base_hml_sergio, sheet_name='Filtrado',usecols=[0],dtype={'Chave':'str'})

In [ ]:
base_sergio

In [24]:
base_sergio.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150026 entries, 0 to 150025
Data columns (total 1 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Chave   150026 non-null  int64
dtypes: int64(1)
memory usage: 1.1 MB

In [23]:
arquivo_base_notebook = 'C:\\Temp\\vol_frota_sergio\\base_notebook_20221206.csv'

base_notebook = pd.read_csv(arquivo_base_notebook,usecols=[0,1],dtype={'codrelatorio':'str','codnumrelatorio':'int'})

#base_notebook['codnumrelatorio'] = base_notebook['codnumrelatorio'].apply(str)

base_notebook['Chave'] = base_notebook['codrelatorio'].apply(str) + base_notebook['codnumrelatorio'].apply(str)

base_notebook.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149337 entries, 0 to 149336
Data columns (total 3 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   codrelatorio     149337 non-null  object
 1   codnumrelatorio  149337 non-null  int32
 2   Chave            149337 non-null  object
dtypes: int32(1), object(2)
memory usage: 2.8+ MB

In [21]:
result = pd.merge(left=base_sergio
                              , right=base_notebook
                              , left_on='Chave'
                              , right_on='Chave'                                                                                              
                              ,how='left'
                                    )

ValueError: You are trying to merge on int64 and object columns. If you wish to proceed you should use pd.concat

In [8]:
result

                Chave  codrelatorio  codnumrelatorio
0        100877606720           NaN              NaN
1        100917204320           NaN              NaN
2        100937930710           NaN              NaN
3        100937930720           NaN              NaN
4        100937930730           NaN              NaN
...               ...           ...              ...
150021  1009534320250           NaN              NaN
150022  1009534320260           NaN              NaN
150023  1009534516100           NaN              NaN
150024  1009534535100           NaN              NaN
150025  1009534792110           NaN              NaN

[150026 rows x 3 columns]