In [1]:
import pandas as pd

# IMPORTAÇÃO BASE URSULA - SIVA
# ARQUIVO = homolog-plan-inclusão-siva-faton-14112022.xlsx

In [29]:
arquivo_INC_URSULA_BASE_SAP_EXTRATOR_FATON = 'C:\\Temp\\faton_siva\\INC_URSULA\\homolog-plan-inclusão-siva-faton-14112022.xlsx'

df_INC_URSULA_BASE_SAP_SIVA = pd.read_excel(arquivo_INC_URSULA_BASE_SAP_EXTRATOR_FATON
                                            ,sheet_name='BASE SAP SIVA'
                                            ,header=1
                                            ,usecols=[0,1,3,8,13,14,15,17,23]
                                            ,names=['CodDocVenda_DCR'
                                                   ,'CodDocVenda'
                                                   ,'DCR_Item'
                                                   ,'Data'
                                                   ,'DCR'
                                                   ,'NumItemDCR'
                                                   ,'DataBasica'
                                                   ,'DataCriacao'
                                                   ,'IndInclusao']
                                            ,dtype={'CodDocVenda_DCR':'str'
                                                   ,'CodDocVenda':'str'
                                                   ,'DCR_Item':'str'
                                                   ,'Data':'str'
                                                   ,'DCR':'str'
                                                   ,'NumItemDCR':'str'
                                                   ,'DataBasica':'str'
                                                   ,'DataCriacao':'str'
                                                   ,'IndInclusao':'str'})


df_INC_URSULA_BASE_SAP_SIVA['Chave_SIVA_SAP'] = df_INC_URSULA_BASE_SAP_SIVA['DCR'] + df_INC_URSULA_BASE_SAP_SIVA['CodDocVenda']

In [30]:
df_INC_URSULA_BASE_SAP_SIVA

,CodDocVenda_DCR,CodDocVenda,DCR_Item,Data,DCR,NumItemDCR,DataBasica,DataCriacao,IndInclusao,Chave_SIVA_SAP
0,305198061009031886,30519806,100903188610,2022-03-01 00:00:00,1009031886,10,NaN,2022-03-01 00:00:00,Inc,100903188630519806
1,306887511009031886,30688751,100903188620,2022-03-01 00:00:00,1009031886,20,NaN,2022-03-01 00:00:00,Inc,100903188630688751
2,304955651009031886,30495565,100903188630,2022-03-01 00:00:00,1009031886,30,NaN,2022-03-01 00:00:00,Inc,100903188630495565
3,305707611009031886,30570761,100903188640,2022-03-01 00:00:00,1009031886,40,NaN,2022-03-01 00:00:00,Inc,100903188630570761
4,305198221009030458,30519822,100903045810,2022-03-01 00:00:00,1009030458,10,NaN,2022-03-01 00:00:00,Inc,100903045830519822
...,...,...,...,...,...,...,...,...,...,...
49085,310982901009153255,31098290,1009153255130,2022-03-31 00:00:00,1009153255,130,NaN,2022-03-31 00:00:00,Plan,100915325531098290
49086,311591621009152164,31159162,1009152164160,2022-03-31 00:00:00,1009152164,160,NaN,2022-03-31 00:00:00,Inc,100915216431159162
49087,309451271009148144,30945127,1009148144110,2022-03-31 00:00:00,1009148144,110,NaN,2022-03-31 00:00:00,Plan,100914814430945127
49088,310646901009152959,31064690,1009152959160,2022-03-31 00:00:00,1009152959,160,NaN,2022-03-31 00:00:00,Plan,100915295931064690
49089,309143141009153131,30914314,100915313140,2022-03-31 00:00:00,1009153131,40,NaN,2022-03-31 00:00:00,Plan,100915313130914314

# CONTAGEM DE INCLUSÕES E PLANEJAMENTOS

In [12]:
df_INC_URSULA_BASE_SAP_SIVA.groupby(['IndInclusao']).agg(Qtd=('IndInclusao','count'))

               Qtd
IndInclusao
Inc           6881
Plan         42209

# SEPARAÇÃO EM DOIS DATAFRAMES
### Inclusões - df_SAP_INC_URSULA_SIVA
### Planejamentos - df_SAP_PLAN_URSULA_SIVA

In [13]:
df_SAP_INC_URSULA_SIVA = df_INC_URSULA_BASE_SAP_SIVA[df_INC_URSULA_BASE_SAP_SIVA['IndInclusao'] =='Inc']

df_SAP_PLAN_URSULA_SIVA = df_INC_URSULA_BASE_SAP_SIVA[df_INC_URSULA_BASE_SAP_SIVA['IndInclusao'] =='Plan']

# REMOÇÃO DE DADOS DUPLICADOS DE PLANEJAMENTO E INCLUSÃO

In [14]:
df_SAP_INC_URSULA_SIVA = df_SAP_INC_URSULA_SIVA.drop_duplicates(subset = ['Chave_SIVA_SAP'],keep = 'last').reset_index(drop = True)

df_SAP_PLAN_URSULA_SIVA = df_SAP_PLAN_URSULA_SIVA.drop_duplicates(subset = ['Chave_SIVA_SAP'],keep = 'last').reset_index(drop = True)

In [34]:
arquivo_SIVA_DATABRICKS = 'C:\\Temp\\faton_siva\\INC_URSULA\\validacao_extra\\siva_inclusao_atendida.csv'


df = pd.read_csv(arquivo_SIVA_DATABRICKS
                 ,sep=','
                                          ,usecols=[0,1,2,4,5,6,11,12,17,35,36]
                                          ,names=['Chave'
                                                  ,'CodDocVenda'
                                                  ,'NumItemDocVenda'                                         
                                                  ,'DCRAbastec'
                                                  ,'ItemDCRAbastec'
                                                  ,'FlagPlanejado'
                                                  ,'dthbaixacoletor'
                                                  ,'dthabastecimento'
                                                  ,'FlagIncluida'                                                  
                                                  ,'dthindicefat'
                                                  ,'dthlancamentoestatistica']
                                          ,dtype={'Chave':'str'
                                                  ,'CodDocVenda':'str'
                                                  ,'NumItemDocVenda':'str'                                                  
                                                  ,'DCRAbastec':'str'
                                                  ,'ItemDCRAbastec':'str'
                                                  ,'FlagPlanejado':'str'
                                                  ,'dthbaixacoletor':'str'
                                                  ,'dthabastecimento':'str'
                                                  ,'FlagIncluida':'str'
                                                  ,'dthindicefat':'str'
                                                  ,'dthlancamentoestatistica':'str'}
                                          ,header=0)

df['Chave'] = df['DCRAbastec'] + df['CodDocVenda'].astype(int).astype(str)


#df[df['dthlancamentoestatistica'].str[:6]=='202203'].groupby(['FlagPlanejado','FlagIncluida']).agg(FlagPlanejado=('FlagPlanejado','count'),
#                                                                                                  QtdFlagIncluida=('FlagIncluida','count'))

In [35]:
df_DATABRICKS_INC = df[(df['FlagIncluida']=='1')] # & (df['dthbaixacoletor'].str[:6]=='202203')]

df_DATABRICKS_PLAN = df[(df['FlagPlanejado']=='1')] # & (df['dthbaixacoletor'].str[:6]=='202203')]

df_DATABRICKS_PLAN

#df

,Chave,CodDocVenda,NumItemDocVenda,DCRAbastec,ItemDCRAbastec,FlagPlanejado,dthbaixacoletor,dthabastecimento,FlagIncluida,dthindicefat,dthlancamentoestatistica
221907,100937383423963434,0023963434,10.0,1009373834,000080,1,20220525,20220525,0,20220525,20220525
221908,100937874123963435,0023963435,10.0,1009378741,000020,1,20220526,20220526,0,20220525,20220526
221909,100937436524835404,0024835404,10.0,1009374365,000080,1,20220526,20220525,0,20220525,20220526
221910,100938752324835424,0024835424,10.0,1009387523,000090,1,20220601,20220530,0,20220527,20220601
221911,100939014625265423,0025265423,10.0,1009390146,000180,1,20220601,20220603,0,20220601,20220601
...,...,...,...,...,...,...,...,...,...,...,...
535545,100971680233102695,0033102695,10.0,1009716802,000150,1,20220812,20220812,0,20220812,20220812
535546,100972005233110474,0033110474,10.0,1009720052,000120,1,20220815,20220815,0,20220813,20220815
535549,100971680233122988,0033122988,10.0,1009716802,000100,1,20220812,20220812,0,20220813,20220812
535551,100972005233129941,0033129941,10.0,1009720052,000070,1,20220815,20220813,0,20220812,20220815
535553,100971680233155749,0033155749,10.0,1009716802,000070,1,20220812,20220812,0,20220812,20220812

In [18]:
#df_DATABRICKS_INC = df_DATABRICKS_INC.drop_duplicates(subset = ['chave'],keep = 'last').reset_index(drop = True)

df_DATABRICKS_INC[df_DATABRICKS_INC['CodDocVenda']=='0031086112']

,Chave,CodDocVenda,NumItemDocVenda,DCRAbastec,ItemDCRAbastec,FlagPlanejado,dthbaixacoletor,FlagIncluida,dthindicefat,dthlancamentoestatistica
364329,100913514112031086112,0031086112,10.0,1009135141,000120,0,20220328,1,20220328,20220328

In [38]:
result_INC_SAP_DATABRICKS = pd.merge(left=df_SAP_INC_URSULA_SIVA
    , right=df
    , left_on='Chave_SIVA_SAP'
    , right_on='Chave'
    , how='left'
    )[['Chave_SIVA_SAP','DataCriacao', 'CodDocVenda_x', 'DCR', 'NumItemDCR', 'IndInclusao', 'dthbaixacoletor','dthabastecimento','Chave']]

result_INC_SAP_DATABRICKS['Chave'].fillna(0,inplace=True)

result_INC_SAP_DATABRICKS[result_INC_SAP_DATABRICKS['Chave']!=0].groupby(['IndInclusao']).agg(Qtd=('IndInclusao','count')) #.to_csv('C:\\Temp\\faton_siva\\INC_URSULA\\resto.csv',sep=';',index=False)

#result_INC.groupby(['IndInclusao']).agg(Qtd=('IndInclusao','count'))

result_INC_SAP_DATABRICKS = result_INC_SAP_DATABRICKS[result_INC_SAP_DATABRICKS['Chave']==0]

result_INC_SAP_DATABRICKS[['Chave_SIVA_SAP' 
                                 , 'CodDocVenda_x'
                                 , 'DCR'
                                 , 'NumItemDCR'
                                 , 'DataCriacao'
                                 , 'dthbaixacoletor'
                                 ,'dthabastecimento']].to_csv('C:\\Temp\\faton_siva\\INC_URSULA\\siva_inclusao_nao_encontrada_no_databricks.csv',sep=';',index=False)

# EM ANÁLISE

In [42]:
result_INC_DATABRICKS_SAP = pd.merge(left=df_DATABRICKS_INC
    , right=df_SAP_INC_URSULA_SIVA
    , left_on='Chave'
    , right_on='Chave_SIVA_SAP'
    , how='left'
    )[['Chave','CodDocVenda_x', 'DCRAbastec', 'ItemDCRAbastec', 'IndInclusao','Chave_SIVA_SAP']]

result_INC_DATABRICKS_SAP['Chave_SIVA_SAP'].fillna(0,inplace=True)

result_INC_DATABRICKS_SAP[result_INC_DATABRICKS_SAP['Chave_SIVA_SAP']!=0] #.groupby(['IndInclusao']).agg(Qtd=('IndInclusao','count')) #.to_csv('C:\\Temp\\faton_siva\\INC_URSULA\\resto.csv',sep=';',index=False)

#result_INC_DATABRICKS_SAP.groupby(['IndInclusao']).agg(Qtd=('IndInclusao','count'))

result_INC_DATABRICKS_SAP =  result_INC_DATABRICKS_SAP.drop_duplicates(subset = ['Chave'],keep = 'last').reset_index(drop = True)

result_INC_DATABRICKS_SAP[result_INC_DATABRICKS_SAP['Chave_SIVA_SAP']==0]

,Chave,CodDocVenda_x,DCRAbastec,ItemDCRAbastec,IndInclusao,Chave_SIVA_SAP
0,100888156123963397,0023963397,1008881561,000030,NaN,0
1,100937403925265434,0025265434,1009374039,000230,NaN,0
2,100937934027410031,0027410031,1009379340,000330,NaN,0
3,100879923028053159,0028053159,1008799230,000400,NaN,0
5,100937438329088636,0029088636,1009374383,000110,NaN,0
...,...,...,...,...,...,...
40924,100970612033185293,0033185293,1009706120,000360,NaN,0
40925,100971711933188177,0033188177,1009717119,000250,NaN,0
40926,100970612033197074,0033197074,1009706120,000370,NaN,0
40927,100971702733197179,0033197179,1009717027,000050,NaN,0
40928,100971970433199452,0033199452,1009719704,000100,NaN,0

# REGISTROS QUE NÃO EXISTEM NA BASE DA URSULA

In [ ]:
result_INC_DATABRICKS_SAP[result_INC_DATABRICKS_SAP['Chave_SIVA_SAP']==0]

In [ ]:
final = pd.merge(left=result_PLAN
    , right=result_PLAN_SDD
    , left_on='Chave_SIVA_SAP'
    , right_on='Chave'
    , how='left'
    )[['Chave_SIVA_SAP_x','CodDocVenda_x_x', 'DCR', 'NumItemDCR', 'IndInclusao_x','Chave_y']]

final_SDD =  final.drop_duplicates(subset = ['Chave_SIVA_SAP_x'],keep = 'last').reset_index(drop = True)

final_SDD['Chave_y'].fillna(0,inplace=True)

final_SDD[final_SDD['Chave_y']==0] 

#final_SDD

# REGISTROS IGUAIS EM AMBAS AS BASES

In [ ]:
final_SDD[final_SDD['Chave_y']!=0]

# REGISTROS NÃO ENCONTRADOS NA BASE DA URSULA

In [ ]:
final_SDD[final_SDD['Chave_y']==0]

# ---------------------------------------------------------------------------

In [49]:

final = pd.merge(left=df_SAP_PLAN_URSULA_SIVA
    , right=df_DATABRICKS_PLAN
    , left_on='Chave_SIVA_SAP'
    , right_on='Chave'
    , how='left'
    )[['Chave_SIVA_SAP','DataCriacao','CodDocVenda_x', 'DCR', 'NumItemDCR', 'IndInclusao','Chave','dthbaixacoletor','dthabastecimento']]

final_SDD =  final.drop_duplicates(subset = ['Chave_SIVA_SAP'],keep = 'last').reset_index(drop = True)

final_SDD['Chave'].fillna(0,inplace=True)

final_SDD[final_SDD['Chave']==0][['Chave_SIVA_SAP' 
                                 , 'CodDocVenda_x'
                                 , 'DCR'
                                 , 'NumItemDCR'
                                 , 'DataCriacao'
                                 , 'dthbaixacoletor'
                                 ,'dthabastecimento']].to_csv('C:\\Temp\\faton_siva\\INC_URSULA\\siva_planejado_nao_encontrada_no_databricks.csv',sep=';',index=False)

# existente = 41461
# n existente = 58

In [ ]:
df_SAP_PLAN_URSULA_SIVA 
# total 41519

In [ ]:
df_DATABRICKS_PLAN.head(1)

In [ ]:

final = pd.merge(left=df_DATABRICKS_PLAN
    , right=df_SAP_PLAN_URSULA_SIVA
    , left_on='Chave'
    , right_on='Chave_SIVA_SAP'
    , how='left'
    )[['Chave','CodDocVenda_x', 'DCRAbastec', 'NumItemDocVenda', 'FlagPlanejado','Chave_SIVA_SAP']]

final_SDD =  final.drop_duplicates(subset = ['Chave'],keep = 'last').reset_index(drop = True)

final_SDD['Chave_SIVA_SAP'].fillna(0,inplace=True)

#final_SDD[final_SDD['Chave_SIVA_SAP']==0].to_csv('C:\\Temp\\faton_siva\\INC_URSULA\\resto2.csv',sep=';',index=False)

#final_SDD[final_SDD['Chave_SIVA_SAP']!=0]

final_SDD

# existente = 41461
# n existente = 1076