In [1]:
import pandas as pd

In [2]:
arquivo_INC_URSULA_BASE_SAP_EXTRATOR_FATON = 'C:\\Temp\\faton_siva\\INC_URSULA\\homolog-plan-inclusão-siva-faton-14112022.xlsx'

df_INC_URSULA_BASE_SAP_FATON = pd.read_excel(arquivo_INC_URSULA_BASE_SAP_EXTRATOR_FATON
                                            ,sheet_name='BASE SAP FATON'
                                            ,header=1
                                            ,usecols=[0,1,3,8,13,14,15,17,23]
                                            ,names=['CodDocVenda_DCR'
                                                   ,'CodDocVenda'
                                                   ,'DCR_Item'
                                                   ,'Data'
                                                   ,'DCR'
                                                   ,'NumItemDCR'
                                                   ,'DataBasica'
                                                   ,'DataCriacao'
                                                   ,'IndInclusao']
                                            ,dtype={'CodDocVenda_DCR':'str'
                                                   ,'CodDocVenda':'str'
                                                   ,'DCR_Item':'str'
                                                   ,'Data':'str'
                                                   ,'DCR':'str'
                                                   ,'NumItemDCR':'str'
                                                   ,'DataBasica':'str'
                                                   ,'DataCriacao':'str'
                                                   ,'IndInclusao':'str'})


#df_INC_URSULA_BASE_SAP_FATON['Chave_FATON_SAP'] = df_INC_URSULA_BASE_SAP_FATON['DCR_Item'] + df_INC_URSULA_BASE_SAP_FATON['CodDocVenda']

df_INC_URSULA_BASE_SAP_FATON['Chave_FATON_SAP'] = df_INC_URSULA_BASE_SAP_FATON['DCR'] + df_INC_URSULA_BASE_SAP_FATON['CodDocVenda']

# CONTAGEM DE INCLUSÕES E PLANEJAMENTOS

In [3]:
df_INC_URSULA_BASE_SAP_FATON.groupby(['IndInclusao']).agg(Qtd=('IndInclusao','count'))

              Qtd
IndInclusao
Inc          1540
Plan         7446

# SEPARAÇÃO EM DOIS DATAFRAMES
### Inclusões - df_SAP_INC_URSULA_FATON
### Planejamentos - df_SAP_PLAN_URSULA_FATON

In [4]:
df_SAP_INC_URSULA_FATON = df_INC_URSULA_BASE_SAP_FATON[df_INC_URSULA_BASE_SAP_FATON['IndInclusao'] =='Inc']

df_SAP_PLAN_URSULA_FATON = df_INC_URSULA_BASE_SAP_FATON[df_INC_URSULA_BASE_SAP_FATON['IndInclusao'] =='Plan']

In [5]:
df_SAP_INC_URSULA_FATON = df_SAP_INC_URSULA_FATON.drop_duplicates(subset = ['Chave_FATON_SAP'],keep = 'last').reset_index(drop = True)

df_SAP_PLAN_URSULA_FATON = df_SAP_PLAN_URSULA_FATON.drop_duplicates(subset = ['Chave_FATON_SAP'],keep = 'last').reset_index(drop = True)

In [11]:
df_SAP_PLAN_URSULA_FATON.count()

CodDocVenda_DCR    6962
CodDocVenda        6962
DCR_Item           6962
Data               6962
DCR                6962
NumItemDCR         6962
DataBasica            0
DataCriacao        6962
IndInclusao        6962
Chave_FATON_SAP    6962
dtype: int64

In [12]:
arquivo_FATON_DATABRICKS = 'C:\\Temp\\faton_siva\\INC_URSULA\\validacao_extra\\faton_inclusao_atendida.csv'

df = pd.read_csv(arquivo_FATON_DATABRICKS
                 ,sep=','
                                          ,usecols=[0,1,3,4,5,10,11,16,34,35]
                                          ,names=['CodDocVenda'
                                                  ,'NumItemDocVenda'                                         
                                                  ,'DCRAbastec'
                                                  ,'ItemDCRAbastec'
                                                  ,'FlagPlanejado'
                                                  ,'dthbaixacoletor'
                                                  ,'dthabastecimento'
                                                  ,'FlagIncluida'                                                  
                                                  ,'dthindicefat'
                                                  ,'dthlancamentoestatistica']
                                          ,dtype={'CodDocVenda':'str'
                                                  ,'NumItemDocVenda':'str'                                                  
                                                  ,'DCRAbastec':'str'
                                                  ,'ItemDCRAbastec':'str'
                                                  ,'FlagPlanejado':'str'
                                                  ,'dthbaixacoletor':'str' 
                                                  ,'dthabastecimento':'str'
                                                  ,'FlagIncluida':'str'
                                                  ,'dthindicefat':'str'
                                                  ,'dthlancamentoestatistica':'str'}
                                          ,header=0)

df.fillna('0',inplace=True)

#df['Chave'] = df['DCRAbastec'] + df['ItemDCRAbastec'].astype(int).astype(str) + df['CodDocVenda'].astype(int).astype(str)

df['Chave'] = df['DCRAbastec'] + df['CodDocVenda'].astype(int).astype(str)

#df[df['dthlancamentoestatistica'].str[:6]=='202203'].groupby(['FlagPlanejado','FlagIncluida']).agg(FlagPlanejado=('FlagPlanejado','count'),
#                                                                                                  QtdFlagIncluida=('FlagIncluida','count'))

In [15]:
df_DATABRICKS_INC_FATON = df[(df['FlagIncluida']=='1')] # & (df['dthbaixacoletor'].str[:6]=='202203')]

df_DATABRICKS_PLAN_FATON = df[(df['FlagPlanejado']=='1')] # & (df['dthbaixacoletor'].str[:6]=='202203')]

df_DATABRICKS_PLAN_FATON
df_DATABRICKS_INC_FATON
#df

,CodDocVenda,NumItemDocVenda,DCRAbastec,ItemDCRAbastec,FlagPlanejado,dthbaixacoletor,dthabastecimento,FlagIncluida,dthindicefat,dthlancamentoestatistica,Chave
10,0029335757,10.0,1008807877,000120,0,0,20220104,1,20211129,20220104,100880787729335757
18,0029419796,10.0,1008817561,000230,0,20220106,20220107,1,20211231,20220107,100881756129419796
21,0029437898,10.0,1008798658,000170,0,0,20220104,1,20211209,20220104,100879865829437898
31,0029514805,10.0,1008817104,000110,0,20220107,20220107,1,20211223,20220107,100881710429514805
32,0029514809,10.0,1008817104,000130,0,20220107,20220107,1,20211223,20220107,100881710429514809
...,...,...,...,...,...,...,...,...,...,...,...
191307,0033630305,10.0,1009856586,000230,0,20220916,20220916,1,20220915,20220916,100985658633630305
191311,0033649632,10.0,1009860250,000190,0,20220915,20220915,1,20220915,20220915,100986025033649632
191312,0033651305,10.0,1009866595,000260,0,20220917,20220917,1,20220916,20220917,100986659533651305
191316,0033657299,10.0,1009861888,000180,0,20220915,20220915,1,20220915,20220915,100986188833657299
191317,0033659815,10.0,1009861839,000280,0,20220916,20220916,1,20220916,20220916,100986183933659815

In [25]:
df_SAP_INC_URSULA_FATON.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1308 entries, 0 to 1307
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CodDocVenda_DCR  1308 non-null   object
 1   CodDocVenda      1308 non-null   object
 2   DCR_Item         1308 non-null   object
 3   Data             1308 non-null   object
 4   DCR              1308 non-null   object
 5   NumItemDCR       1308 non-null   object
 6   DataBasica       0 non-null      object
 7   DataCriacao      1308 non-null   object
 8   IndInclusao      1308 non-null   object
 9   Chave_FATON_SAP  1308 non-null   object
dtypes: object(10)
memory usage: 102.3+ KB

In [44]:
result_INC_SAP_FATON_DATABRICKS = pd.merge(left=df_SAP_INC_URSULA_FATON
    , right=df_DATABRICKS_INC_FATON
    , left_on='Chave_FATON_SAP'
    , right_on='Chave'
    , how='left'
    )[['Chave_FATON_SAP','DataCriacao' , 'CodDocVenda_x', 'DCR', 'NumItemDCR', 'IndInclusao','Chave','dthbaixacoletor','dthabastecimento']]

result_INC_SAP_FATON_DATABRICKS['Chave'].fillna(0,inplace=True)

#result_INC_SAP_FATON_DATABRICKS[result_INC_SAP_FATON_DATABRICKS['Chave']!=0].groupby(['IndInclusao']).agg(Qtd=('IndInclusao','count')) #.to_csv('C:\\Temp\\faton_siva\\INC_URSULA\\resto.csv',sep=';',index=False)

#result_INC_SAP_FATON_DATABRICKS.groupby(['IndInclusao']).agg(Qtd=('IndInclusao','count'))

result_INC_SAP_FATON_DATABRICKS = result_INC_SAP_FATON_DATABRICKS.drop_duplicates(subset = ['Chave_FATON_SAP'],keep = 'last').reset_index(drop = True)

result_INC_SAP_FATON_DATABRICKS = result_INC_SAP_FATON_DATABRICKS[result_INC_SAP_FATON_DATABRICKS['Chave']==0]

result_INC_SAP_FATON_DATABRICKS[['Chave_FATON_SAP' 
                                 , 'CodDocVenda_x'
                                 , 'DCR'
                                 , 'NumItemDCR'
                                 , 'DataCriacao'
                                 , 'dthbaixacoletor'
                                 ,'dthabastecimento']].to_csv('C:\\Temp\\faton_siva\\INC_URSULA\\faton_inclusao_nao_encontrada_no_databricks.csv',sep=';',index=False)

In [36]:
result_INC_SAP_FATON_DATABRICKS['AnoMes'] = result_INC_SAP_FATON_DATABRICKS['dthbaixacoletor'].str[:6]

result_INC_SAP_FATON_DATABRICKS.groupby(['AnoMes']).agg(Qtd=('AnoMes','count'))

        Qtd
AnoMes
0       332
202203  955
202204    6

In [47]:
result_PLAN_SAP_FATON_DATABRICKS = pd.merge(left=df_SAP_PLAN_URSULA_FATON
    , right=df_DATABRICKS_PLAN_FATON
    , left_on='Chave_FATON_SAP'
    , right_on='Chave'
    , how='left'
    )[['Chave_FATON_SAP','DataCriacao','CodDocVenda_x', 'DCR', 'NumItemDCR', 'IndInclusao','Chave','dthbaixacoletor','dthabastecimento']]

result_PLAN_SAP_FATON_DATABRICKS['Chave'].fillna(0,inplace=True)

#result_PLAN_SAP_FATON_DATABRICKS[result_PLAN_SAP_FATON_DATABRICKS['Chave']!=0].groupby(['IndInclusao']).agg(Qtd=('IndInclusao','count')) #.to_csv('C:\\Temp\\faton_siva\\INC_URSULA\\resto.csv',sep=';',index=False)

#result_PLAN_SAP_FATON_DATABRICKS.groupby(['IndInclusao']).agg(Qtd=('IndInclusao','count'))

result_PLAN_SAP_FATON_DATABRICKS = result_PLAN_SAP_FATON_DATABRICKS.drop_duplicates(subset = ['Chave_FATON_SAP'],keep = 'last').reset_index(drop = True)

result_PLAN_SAP_FATON_DATABRICKS = result_PLAN_SAP_FATON_DATABRICKS[result_PLAN_SAP_FATON_DATABRICKS['Chave']==0]

result_PLAN_SAP_FATON_DATABRICKS['NumItemDCR'] = result_PLAN_SAP_FATON_DATABRICKS['NumItemDCR'].astype(int)

result_PLAN_SAP_FATON_DATABRICKS.sort_values(by=['DCR','NumItemDCR']).count() #.to_csv('C:\\Temp\\faton_siva\\INC_URSULA\\plan_siva_nao_encontrado.csv',sep=';',index=False)

result_PLAN_SAP_FATON_DATABRICKS[['Chave_FATON_SAP' 
                                 , 'CodDocVenda_x'
                                 , 'DCR'
                                 , 'NumItemDCR'
                                 , 'DataCriacao'
                                 , 'dthbaixacoletor'
                                 ,'dthabastecimento']].to_csv('C:\\Temp\\faton_siva\\INC_URSULA\\faton_planejada_nao_encontrada_no_databricks.csv',sep=';',index=False)

# 11 ordens motivo de recusa
# 5 ordens com fatura estornada
# 19 enviar para ursula analisar (9 sem data baixa coletor / 10 analisar)

In [43]:
result_PLAN_SAP_FATON_DATABRICKS['AnoMes'] = result_PLAN_SAP_FATON_DATABRICKS['dthbaixacoletor'].str[:6]

result_PLAN_SAP_FATON_DATABRICKS.groupby(['AnoMes']).agg(Qtd=('AnoMes','count'))

         Qtd
AnoMes
0       1120
202202     1
202203  5800
202204     4
202205     1