In [53]:
import warnings
import pandas as pd
from pandas.core.common import SettingWithCopyWarning
import numpy as np
import json

In [54]:
pd.options.display.max_rows = 999
pd.options.display.max_columns=999
warnings.simplefilter(action="ignore", category=SettingWithCopyWarning)

In [55]:
colunas = ['FLEET'
,'EQUIPMENT'
,'FLEET_NUM'
,'FLEET_VIN'
,'CHASSISNUM'
,'LICENSENUM'
,'FL_EXP_DAT'
,'FLEET_CAT'
,'ENGINE_TYP'
,'ENGINE_CYL'
,'FUEL_PRI'
,'FUEL_SEC'
,'OIL_TYPE'
,'CH_NAXLE'
,'HE_MAXCAP'
,'CH_BAUJJ'
,'CH_TYPBZ'
,'CH_HERST'
,'CH_VEHSTA'
,'CH_OWNFLG'
,'CH_CARRIE'
,'CH_CL_GRP'
,'PLANT'
,'COSTCENTER'
,'OI_VHLTYP'    
,'ZCASTOBJ1'
,'ZCASTOBJ2']

datatype = {'FLEET':'str'
            ,'EQUIPMENT':'str'
            ,'FLEET_NUM':'str'
            ,'FLEET_VIN':'str'
            ,'CHASSISNUM':'str'
            ,'LICENSENUM':'str'
            ,'FL_EXP_DAT':'str'
            ,'FLEET_CAT':'str'
            ,'ENGINE_TYP':'str'
            ,'ENGINE_CYL':'str'
            ,'FUEL_PRI':'str'
            ,'FUEL_SEC':'str'
            ,'OIL_TYPE':'str'
            ,'CH_NAXLE':'str'
            ,'HE_MAXCAP':'str'
            ,'CH_BAUJJ':'str'
            ,'CH_TYPBZ':'str'
            ,'CH_HERST':'str'
            ,'CH_VEHSTA':'str'
            ,'CH_OWNFLG':'str'
            ,'CH_CARRIE':'str'
            ,'CH_CL_GRP':'str'
            ,'PLANT':'str'
            ,'COSTCENTER':'str'
            ,'OI_VHLTYP':'str'
            ,'ZCASTOBJ1':'str'
            ,'ZCASTOBJ2':'str'}

In [56]:
arquivo = '0FLEET.20220705.204027'

dfFrota = pd.read_csv(arquivo, sep=';', dtype=datatype, names= colunas)

In [57]:
dfFrota[dfFrota['LICENSENUM'].isin(['EBL6779','BDU5A15','LRT3428','PDP2384','PLA1383'])][
    ['LICENSENUM'
     ,'HE_MAXCAP']]

     LICENSENUM      HE_MAXCAP
196     LRT3428         0.000
556     PDP2384     21000.000
581     PLA1383     21000.000
1047    BDU5A15         0.000
1166    EBL6779  19958400.000

In [58]:
dfFrota[dfFrota['LICENSENUM'].isin(['EBL6779','BDU5A15','LRT3428','PDP2384','PLA1383'])][
    ['LICENSENUM'
     ,'HE_MAXCAP']]

dfFrota.rename(columns={'HE_MAXCAP':'NumCapacMax_ANTES_RDM','LICENSENUM':'CodPlaca'},inplace=True)

In [59]:
arquivoPosRDM = '0FLEET.20220706.163609'

dfFrotaPosRDM = pd.read_csv(arquivoPosRDM, sep=';', dtype=datatype, names= colunas)

In [60]:
dfFrotaPosRDM[dfFrotaPosRDM['LICENSENUM'].isin(['EBL6779','BDU5A15','LRT3428','PDP2384','PLA1383'])][
    ['LICENSENUM'
     ,'HE_MAXCAP']]


dfFrotaPosRDM.rename(columns={'HE_MAXCAP':'NumCapacMax_POS_RDM','LICENSENUM':'CodPlaca'},inplace=True)

In [61]:
dfFinalFrota = pd.merge(left=dfFrota
                              , right=dfFrotaPosRDM
                              , left_on='CodPlaca'
                              , right_on='CodPlaca'
                                                                                              
                                    )

dfFinalFrota[dfFinalFrota['CodPlaca'].isin(['EBL6779','BDU5A15','LRT3428','PDP2384','PLA1383'])][
    ['CodPlaca'
     ,'NumCapacMax_ANTES_RDM'
    ,'NumCapacMax_POS_RDM']]

     CodPlaca NumCapacMax_ANTES_RDM NumCapacMax_POS_RDM
211   LRT3428                0.000           14354.396
571   PDP2384            21000.000           21000.000
596   PLA1383            21000.000           21000.000
1059  BDU5A15                0.000           16318.681
1178  EBL6779         19958400.000           22000.000