In [18]:
import warnings
import pandas as pd
from pandas.core.common import SettingWithCopyWarning
import numpy as np
import json

In [19]:
pd.options.display.max_rows = 999
pd.options.display.max_columns=999
warnings.simplefilter(action="ignore", category=SettingWithCopyWarning)

In [20]:
paramJson = "C:\\Temp\\paramtanques.json"
print(paramJson)
file = open(paramJson)
dfJsonTanques = json.load(file)

C:\Temp\paramtanques.json

In [21]:
def montaCampos(colunas):
        
    vcolunas = [] 
    vcolunasDataType = {}    
    vvalor = 'str'

    for indlistaCampos in colunas.split(sep=','):
        if indlistaCampos != ',':        
            vcolunas.append(indlistaCampos.strip())

    for itemChave in range(len(vcolunas)):
        vcolunasDataType[vcolunas[itemChave]] = vvalor

    return vcolunas, vcolunasDataType

In [22]:
colunas = dfJsonTanques['EQUI']['colunas']
vcolunas,vcolunasDataType = montaCampos(colunas)

arquivoEQUI = 'C:\\Temp\\EQUI.csv'

dfEQUI = pd.read_csv(arquivoEQUI
                            ,sep=';'
                            ,skiprows=1
                            ,names=vcolunas
                            ,low_memory=False
                            ,dtype=vcolunasDataType)

#dfEQUI

In [23]:
colunas = dfJsonTanques['EQKT']['colunas']
vcolunas,vcolunasDataType = montaCampos(colunas)

arquivoEQKT = 'C:\\Temp\\EQKT.csv'

dfEQKT = pd.read_csv(arquivoEQKT
                            , sep=';'
                            ,skiprows=1
                            ,names=vcolunas
                            ,low_memory=False
                            ,dtype=vcolunasDataType)

#dfEQKT

#dfEquipamento['EQUITYPE'].fillna('Nulo',inplace=True)

In [24]:
arquivoEquipamentoDivergente = 'C:\\Temp\\tanques\\NomEquipamento x TipoEquipamento.xlsx'

dfEquipamentoDivergente = pd.read_excel(arquivoEquipamentoDivergente, sheet_name='Planilha1')

dfEquipamentoDivergente['CodEquipamento'] = pd.Series(dfEquipamentoDivergente['CodEquipamento']).astype(str).str.zfill(18)

In [25]:
dfEQKT

,MANDT,EQUNR,SPRAS,EQKTX,KZLTX,TXASP,EQKTU
0,300,000000000010036297,P,TANQUE P-4000 HORIZONTAL,NaN,X,TANQUE P-4000 HORIZONTAL
1,300,000000000010036298,P,TANQUE P-190 VERTICAL,NaN,X,TANQUE P-190 VERTICAL
2,300,000000000010036299,P,TANQUE P-1000 HORIZONTAL,NaN,X,TANQUE P-1000 HORIZONTAL
3,300,000000000010036301,P,TANQUE P-500 HORIZONTAL,NaN,X,TANQUE P-500 HORIZONTAL
4,300,000000000010036302,P,TANQUE P-190 VERTICAL,NaN,X,TANQUE P-190 VERTICAL
...,...,...,...,...,...,...,...
183112,300,000000000010066682,P,TANQUE P-2000 SUBTERRÂNEO,NaN,X,TANQUE P-2000 SUBTERRÂNEO
183113,300,000000000010066685,P,TANQUE P-190 VERTICAL,NaN,X,TANQUE P-190 VERTICAL
183114,300,000000000010066687,P,TANQUE P-190 VERTICAL,NaN,X,TANQUE P-190 VERTICAL
183115,300,000000000010066694,P,TANQUE P-190 VERTICAL,NaN,X,TANQUE P-190 VERTICAL
183116,300,000000000010066702,P,TANQUE P-500 VERTICAL,NaN,X,TANQUE P-500 VERTICAL

In [26]:
resultSAP = pd.merge(left=dfEQKT
                      , right=dfEquipamentoDivergente
                      , left_on='EQUNR'
                      , right_on='CodEquipamento')

In [27]:
resultSAP

,MANDT,EQUNR,SPRAS,EQKTX,KZLTX,TXASP,EQKTU,CodEquipamento,NomEquipamento,NomTipoEquipamento
0,300,000000000010047022,P,VAPORIZADOR ELE 50 KG/H,NaN,X,VAPORIZADOR ELE 50 KG/H,000000000010047022,VAPORIZADOR ELE 50 KG/H,TQ P1000S
1,300,000000000010055276,P,TANQUE P-190 VERTICAL,NaN,X,TANQUE P-190 VERTICAL,000000000010055276,EQUIPAMENTO DE TELEMETRIA,TQ P190V
2,300,000000000010055283,P,TANQUE P-190 VERTICAL,NaN,X,TANQUE P-190 VERTICAL,000000000010055283,EQUIPAMENTO DE TELEMETRIA,TQ P190V
3,300,000000000010055318,P,EQUIPAMENTO DE TELEMETRIA,NaN,X,EQUIPAMENTO DE TELEMETRIA,000000000010055318,EQUIPAMENTO DE TELEMETRIA,TQ P190V
4,300,000000000010101121,P,EQUIPAMENTO DE TELEMETRIA,NaN,X,EQUIPAMENTO DE TELEMETRIA,000000000010101121,EQUIPAMENTO DE TELEMETRIA,TQ P190V
...,...,...,...,...,...,...,...,...,...,...
15989,300,000000000010014305,P,TANQUE P-190 VERTICAL,NaN,X,TANQUE P-190 VERTICAL,000000000010014305,VAP ELÉTRICO 240 KG/H,TQ P190V
15990,300,000000000010069138,P,TANQUE P-190 VERTICAL,NaN,X,TANQUE P-190 VERTICAL,000000000010069138,EQUIPAMENTO DE TELEMETRIA,TQ P190V
15991,300,000000000010064842,P,EQUIPAMENTO DE TELEMETRIA,NaN,X,EQUIPAMENTO DE TELEMETRIA,000000000010064842,EQUIPAMENTO DE TELEMETRIA,TQ P190V
15992,300,000000000010065145,P,*LOKI*,NaN,X,*LOKI*,000000000010065145,LOKI,TQ P125V
15993,300,000000000010068509,P,TANQUE P-190 VERTICAL,NaN,X,TANQUE P-190 VERTICAL,000000000010068509,CARRETA,TQ P190V

In [28]:
resultSAP[['EQUNR','EQKTX','NomEquipamento']]

# ETAPA DE COMPARAÇÃO COM OS DADOS DO SAP BW E OS DADOS DO ALEX PAIVA
resultSAP.loc[resultSAP['EQKTX'] == resultSAP['NomEquipamento'], 'Comparacao'] = 'Igual'
resultSAP.loc[resultSAP['EQKTX'] != resultSAP['NomEquipamento'], 'Comparacao'] = 'Diferente'

In [30]:
resultSAP[resultSAP['Comparacao']=='Diferente'][['EQUNR','NomEquipamento','EQKTX']]

                    EQUNR             NomEquipamento                  EQKTX
1      000000000010055276  EQUIPAMENTO DE TELEMETRIA  TANQUE P-190 VERTICAL
2      000000000010055283  EQUIPAMENTO DE TELEMETRIA  TANQUE P-190 VERTICAL
5      000000000010097957                   PIT STOP  TANQUE P-190 VERTICAL
10     000000000010101250  EQUIPAMENTO DE TELEMETRIA  TANQUE P-190 VERTICAL
11     000000000010079169                 VENDA SPOT  TANQUE P-190 VERTICAL
...                   ...                        ...                    ...
15988  000000000010014305      VAP ELÉTRICO 240 KG/H  TANQUE P-190 VERTICAL
15989  000000000010014305      VAP ELÉTRICO 240 KG/H  TANQUE P-190 VERTICAL
15990  000000000010069138  EQUIPAMENTO DE TELEMETRIA  TANQUE P-190 VERTICAL
15992  000000000010065145                       LOKI                 *LOKI*
15993  000000000010068509                    CARRETA  TANQUE P-190 VERTICAL

[15949 rows x 3 columns]