In [28]:
import json
import datetime
import pandas as pd
from simple_salesforce import Salesforce, SalesforceLogin, SFType

#pip install simple_salesforce

In [29]:
username='etlshv@supergasbras.com.br', 
password='Super2020', 
security_token='2yY5vNvSMICU35NLeEjGAqtSJ'

In [30]:
sf = Salesforce(
username='etlshv@supergasbras.com.br', 
password='Super2020', 
security_token='2yY5vNvSMICU35NLeEjGAqtSJ')

In [31]:
#loginInfo = json.load(open('login.json'))
username = username #loginInfo['username']
password = password #loginInfo['password']
security_token = security_token #loginInfo['security_token']
domain = 'login'

In [32]:
session_id, instance = SalesforceLogin(username='etlshv@supergasbras.com.br', password='Super2020', security_token='2yY5vNvSMICU35NLeEjGAqtSJ', domain=domain)
sf = Salesforce(instance=instance, session_id=session_id)

In [34]:
sf_data = sf.query_all("""
SELECT Id, AccountId, Subtipo_do_Caso__c,CreatedDate,Status,Description


FROM Case 

where idRespostaQuestao__c IN (
'000014321042 - 0002',
'000014396589 - 0015',
'000014321540 - 0010')

""")

In [35]:
sf_df = pd.DataFrame(sf_data['records']).drop(columns='attributes')

In [36]:
sf_df

,Id,AccountId,Subtipo_do_Caso__c,CreatedDate,Status,Description
0,5004z00001eiHBGAA2,0011Y00002kKQOuQAO,Instalações,2022-06-02T19:21:36.000+0000,Aberto,* Nota SAP: 000014396589\n * Data Entrada: 12...
1,5004z00001eiHCdAAM,0011Y00002q5DCDQA2,Instalações,2022-06-02T19:21:36.000+0000,Fechado,* Nota SAP: 000014321540\n * Data Entrada: 13...
2,5004z00001g8ZhmAAE,0011Y00002q5DCDQA2,Instalações,2022-07-27T17:43:18.000+0000,Aberto,* Nota SAP: 000014321540\n * Data Entrada: 13...
3,5004z00001g8ZgPAAU,0011Y00002kKQOuQAO,Instalações,2022-07-27T17:43:18.000+0000,Aberto,* Nota SAP: 000014396589\n * Data Entrada: 12...
4,5004z00001g8ZpIAAU,0011Y00003CwPicQAF,RCC,2022-07-27T17:44:42.000+0000,Fechado,* Nota SAP: 000014321042\n * Data Entrada: 13...
5,5004z00001g8Zs6AAE,0011Y00002kKQOuQAO,Instalações,2022-07-27T17:45:43.000+0000,Aberto,* Nota SAP: 000014396589\n * Data Entrada: 12...
6,5004z00001g8ZtTAAU,0011Y00002q5DCDQA2,Instalações,2022-07-27T17:45:43.000+0000,Aberto,* Nota SAP: 000014321540\n * Data Entrada: 13...
7,5004z00001g8a0fAAA,0011Y00003CwPicQAF,RCC,2022-07-27T17:46:43.000+0000,Fechado,* Nota SAP: 000014321042\n * Data Entrada: 13...

In [17]:
sf_df.sort_values(by=['Codigo_Parceiro_Negocio__c'])

,Id,Codigo_do_Cliente_SAP__c,Codigo_Parceiro_Negocio__c,Name,RecordTypeId,Grupo_de_Contas2__c
139952,0011Y000035h3veQAA,None,1.0,ALEXANDRE SABINO MOREIRA,0121Y000001J66XQAS,a17F000000R17A7IAJ
107047,0011Y000035gtlmQAA,None,2.0,NILTON DESSAUNE NETO,0121Y000001J66XQAS,a17F000000R17A7IAJ
320041,0011Y00003AwjUYQAZ,None,3.0,MARCOS CARVALHEDO DE MORAES,0121Y000001J66XQAS,a17F000000R17A7IAJ
88147,0011Y000035go8sQAA,None,4.0,GUSTAVO MACEDO DE OLIVEIRA,0121Y000001J66XQAS,a17F000000R17A7IAJ
119176,0011Y000035gxcqQAA,None,5.0,ANTONIO MARTINS DOS SANTOS,0121Y000001J66XQAS,a17F000000R17A7IAJ
...,...,...,...,...,...,...
2109493,001F000001tOgReIAK,0003544178,NaN,CONCEICAO DE MARIA A V RESTAURANTES,012A0000000ernMIAQ,a17F000000R17A3IAJ
2109494,001F000001tOgRjIAK,0003544179,NaN,PROVINCIA FRANCISCANA DA IMACULADA,012A0000000ernMIAQ,a17F000000R17A3IAJ
2109495,001F000001tOhSbIAK,0003544305,NaN,RAFAEL BOMFIM DOS SANTOS 0397670656,012A0000000ernRIAQ,a17F000000R17A3IAJ
2109496,001F000001tOhUXIA0,0003545206,NaN,JOSE MARIA FERREIRA SANTOS EPP,012A0000000ernMIAQ,a17F000000R17A3IAJ
2109497,001F000001tOhW4IAK,0003544203,NaN,PANIFICADORA CRISTO REI SANTOS LTDA,012A0000000ernMIAQ,a17F000000R17A3IAJ

In [23]:
sf_df[sf_df['Codigo_Parceiro_Negocio__c']== 10399376]

,Id,Codigo_do_Cliente_SAP__c,Codigo_Parceiro_Negocio__c,Name,RecordTypeId,Grupo_de_Contas2__c
1746185,0014z00001lpJSbAAM,None,10399376.0,KLEBER DE SOUZA VITAL,0121Y000001J66XQAS,a17F000000R17A7IAJ

In [96]:
sf_dataGrupoConta = sf.query_all("""
SELECT Id, Codigo_do_Grupo_de_Conta__c,Name

FROM Grupo_de_Conta__c
""")

In [97]:
sf_dataRecordType = sf.query_all("""
SELECT Id, Name

FROM RecordType
""")

In [98]:
sf_df = pd.DataFrame(sf_data['records']).drop(columns='attributes')

sf_dfRecordType = pd.DataFrame(sf_dataRecordType['records']).drop(columns='attributes')

sf_dfGrupoConta = pd.DataFrame(sf_dataGrupoConta['records']).drop(columns='attributes')

In [99]:
df_zvmc = pd.merge(sf_df, sf_dfRecordType, left_on = 'RecordTypeId', right_on = 'Id') \
.merge(sf_dfGrupoConta, left_on = 'Grupo_de_Contas2__c', right_on = 'Id')

In [100]:
df_filtrado = df_zvmc[['Id_x','Codigo_do_Cliente_SAP__c','Name_x','Name_y','Codigo_do_Grupo_de_Conta__c','Name']]

df_filtrado.rename(columns={'Id_x':'IdSFEConta','Name_x':'Conta','Name_y':'TipoDeRegistroDaConta','Codigo_do_Grupo_de_Conta__c':'CodGrupoConta','Name':'NomGrupoConta'},inplace=True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [110]:
df_filtrado.to_csv('cliente_zvmc.csv',index=False,sep=';')

In [19]:
sf_Conta = sf.query_all("""
SELECT Id, Codigo_do_Cliente_SAP__c, OwnerId

FROM Account 

where Codigo_do_Cliente_SAP__c  = '0001249990'
""")

In [20]:
sf_cliente = pd.DataFrame(sf_Conta['records']).drop(columns='attributes')
sf_cliente

                   Id Codigo_do_Cliente_SAP__c             OwnerId
0  001F000000vvG1SIAU               0001249990  005F0000007fMveIAE

In [102]:
#sf_df.to_csv('areavenda.csv')

In [103]:

#sf.Area_de_Vendas__c.delete('a194z00000k2iAoAAI')

In [104]:
#caminho = 'C:\Temp\idareavendaexcluir.csv'
#dfAreaVendaExcluir = pd.read_csv(caminho,header=0)

In [105]:
#dfAreaVendaExcluir

In [106]:
#for i in dfAreaVendaExcluir.index:
#    try:
#        print([i])
#        sf.Area_de_Vendas__c.delete(dfAreaVendaExcluir['id'][i])
#    except Exception:
#        print('Erro ao excluir o registro: '+dfAreaVendaExcluir['id'][i] )
    #print(dfAreaVendaExcluir['id'][i])

In [107]:
#sf.Area_de_Vendas__c.delete('a194z00000d8bLtAAI')