In [1]:
import warnings
import pandas as pd
from pandas.core.common import SettingWithCopyWarning
import numpy as np
import json
import os

In [2]:
pd.options.display.max_rows = 999
pd.options.display.max_columns=999
warnings.simplefilter(action="ignore", category=SettingWithCopyWarning)

In [16]:
#dfGarantia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1559 entries, 0 to 1558
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CodCliente         1559 non-null   int64
 1   1                  1559 non-null   int64
 2   CodTipoInformacao  1559 non-null   int64
 3   3                  0 non-null      float64
 4   4                  1559 non-null   int64
 5   DtaFimValidade     1559 non-null   int64
 6   VlrMontante        1559 non-null   float64
 7   7                  1556 non-null   object
 8   8                  1556 non-null   object
 9   9                  1559 non-null   int64
 10  10                 1559 non-null   int64
 11  11                 1559 non-null   object
 12  12                 1559 non-null   int64
 13  13                 1559 non-null   int64
 14  14                 1559 non-null   int64
 15  15                 1559 non-null   int64
dtypes: float64(2), int64(11), object(3)
memory usage: 195.0+ KB

In [23]:
arquivoGarantia = 'C:\\Temp\\Garantia\\DA_FS001.20220731.185924'

dfGarantia = pd.read_csv(arquivoGarantia, header=None, sep=';',low_memory=False)

dfGarantia.rename(columns={0:'CodCliente',2:'CodTipoInformacao', 4:'DtaInicioValidade', 5:'DtaFimValidade', 6:'VlrMontante',8:'Texto'}, inplace=True)

dfGarantia[(dfGarantia['CodTipoInformacao'].isin([12,13])) 
           & (dfGarantia['CodCliente']==4150)][['CodCliente'
                                                   , 'CodTipoInformacao'
                                                   , 'DtaInicioValidade'
                                                   , 'DtaFimValidade'
                                                   , 'Texto'
                                                   , 'VlrMontante']]
#dfItem = dfItem[['CodRelatorio', 'CodItem']]

#dfItem.groupby(['Dta']).agg(qtd=('CodRelatorio','count')).reset_index().sort_values(by=['qtd'],ascending=False)

,CodCliente,CodTipoInformacao,DtaInicioValidade,DtaFimValidade,Texto,VlrMontante
7,4150,13,20150820,20210812,0000000000000000000000000000000000000000000000...,112000.0
8,4150,13,20150820,20210812,0000000000000000000000000000000000000000000000...,116000.0
9,4150,13,20211229,20310706,SFE 01690114 RGI 146.795 e 205.935 10 anos,356000.0