In [19]:
import json
import datetime
import pandas as pd
from simple_salesforce import Salesforce, SalesforceLogin, SFType

#pip install simple_salesforce

In [20]:
username='etlshv@supergasbras.com.br', 
password='Super2020', 
security_token='2yY5vNvSMICU35NLeEjGAqtSJ'

In [21]:
sf = Salesforce(
username='etlshv@supergasbras.com.br', 
password='Super2020', 
security_token='2yY5vNvSMICU35NLeEjGAqtSJ')

In [22]:
#loginInfo = json.load(open('login.json'))
username = username #loginInfo['username']
password = password #loginInfo['password']
security_token = security_token #loginInfo['security_token']
domain = 'login'

In [23]:
session_id, instance = SalesforceLogin(username='etlshv@supergasbras.com.br', password='Super2020', security_token='2yY5vNvSMICU35NLeEjGAqtSJ', domain=domain)
sf = Salesforce(instance=instance, session_id=session_id)

In [6]:
sf_SBQQ_Quote = sf.query_all("""
SELECT Id ,OwnerId ,IsDeleted ,Name ,RecordTypeId
FROM SBQQ__Quote__c  
""")

In [7]:
sf_dataSBQQQuote = pd.DataFrame(sf_SBQQ_Quote['records']).drop(columns='attributes')

In [8]:
sf_dataSBQQQuote

,Id,OwnerId,IsDeleted,Name,RecordTypeId
0,a3P1Y000000EmdRUAS,0051Y00000A3RVDQA3,False,Q-08915,0121Y000001EZARQA4
1,a3P1Y000000EmdWUAS,005F0000001vqBbIAI,False,Q-08916,0121Y000001EZAQQA4
2,a3P1Y000000EmdbUAC,005F00000029obNIAQ,False,Q-08917,0121Y000001EZAQQA4
3,a3P1Y000000EmdgUAC,0051Y00000AvvQkQAJ,False,Q-08918,0121Y000001EZARQA4
4,a3P1Y000000EmdlUAC,0052A000007zd3XQAQ,False,Q-08919,0121Y000001EZARQA4
...,...,...,...,...,...
38571,a3P4z000000wx83EAA,005F0000005t4AaIAI,False,Q-28511,0121Y000001EZAQQA4
38572,a3P4z000000wx88EAA,0052A000009LDCqQAO,False,Q-28512,0121Y000001EZARQA4
38573,a3P4z000000wx8DEAQ,005F0000001vkh4IAA,False,Q-28513,0121Y000001EZARQA4
38574,a3P4z000000wx8IEAQ,005F0000003T3eyIAC,False,Q-28514,0121Y000001EZARQA4
38575,a3P4z000000wx8NEAQ,005F0000001wSouIAE,False,Q-28515,0121Y000001EZARQA4

In [24]:
sf_Capex = sf.query_all("""
SELECT Id, Name, Consultor_Comissionado__c, Data_de_Geracao_do_CAPEX__c FROM Capex__c
""")

In [25]:
sf_dataCapex = pd.DataFrame(sf_Capex['records']).drop(columns='attributes')

In [32]:
sf_dataCapex[sf_dataCapex['Name'] == 'RCX-0190/0']

Empty DataFrame
Columns: [Id, Name, Consultor_Comissionado__c, Data_de_Geracao_do_CAPEX__c]
Index: []

In [33]:
sf_SBQQ__QuoteLine = sf.query_all("""
SELECT Id ,IsDeleted ,Name ,CreatedDate ,CreatedById
FROM SBQQ__QuoteLine__c
""")

In [36]:
sf_dataCapexQuoteLine = pd.DataFrame(sf_SBQQ__QuoteLine['records']).drop(columns='attributes')

In [40]:
sf_dataCapexQuoteLine[sf_dataCapexQuoteLine['Id']=='a3L1Y000001KCkpUAG']

,Id,IsDeleted,Name,CreatedDate,CreatedById
0,a3L1Y000001KCkpUAG,False,QL-0366878,2020-08-18T11:21:25.000+0000,005F00000029obNIAQ

In [15]:
def xc(asss = 'ssss', name='a'):
    pass 

xc

In [16]:
df_zvmc = pd.merge(sf_df, sf_dfRecordType, left_on = 'RecordTypeId', right_on = 'Id') \
.merge(sf_dfGrupoConta, left_on = 'Grupo_de_Contas2__c', right_on = 'Id')

NameError: name 'sf_dfRecordType' is not defined

In [ ]:
df_filtrado = df_zvmc[['Id_x','Codigo_do_Cliente_SAP__c','Name_x','Name_y','Codigo_do_Grupo_de_Conta__c','Name']]

df_filtrado.rename(columns={'Id_x':'IdSFEConta','Name_x':'Conta','Name_y':'TipoDeRegistroDaConta','Codigo_do_Grupo_de_Conta__c':'CodGrupoConta','Name':'NomGrupoConta'},inplace=True)

In [ ]:
df_filtrado.to_csv('cliente_zvmc.csv',index=False,sep=';')

In [ ]:
#sf_df.to_csv('areavenda.csv')

In [ ]:

#sf.Area_de_Vendas__c.delete('a194z00000k2iAoAAI')

In [ ]:
#caminho = 'C:\Temp\idareavendaexcluir.csv'
#dfAreaVendaExcluir = pd.read_csv(caminho,header=0)

In [ ]:
#dfAreaVendaExcluir

In [ ]:
#for i in dfAreaVendaExcluir.index:
#    try:
#        print([i])
#        sf.Area_de_Vendas__c.delete(dfAreaVendaExcluir['id'][i])
#    except Exception:
#        print('Erro ao excluir o registro: '+dfAreaVendaExcluir['id'][i] )
    #print(dfAreaVendaExcluir['id'][i])

In [ ]:
#sf.Area_de_Vendas__c.delete('a194z00000d8bLtAAI')