In [4]:
my_set = (0, 'apple','3.5').to_set()

AttributeError: 'tuple' object has no attribute 'to_set'

In [5]:
my_set = {0, 'apple','3.5'}

In [6]:
my_set = to_set(0, 'apple','3.5')

NameError: name 'to_set' is not defined

In [7]:
my_set = (0, 'apple','3.5').set()

AttributeError: 'tuple' object has no attribute 'set'

In [8]:
class __init__():
    pass

In [9]:
class __init__(self):
    pass

NameError: name 'self' is not defined

In [10]:
def __init__(self):
    pass

In [11]:
def __init__():
    pass

In [25]:
import numpy as np


def can_matrices_be_multiplied(mat1 , mat2):
    rowsMat1 , columnsMat1 = mat1.shape
    rowsMat2 , columnsMat2 = mat2.shape
    
    if columnsMat2 == columnsMat1:
        print('sucess')
        return True
    else:
        return False
    
    
can_matrices_be_multiplied(1,10)

AttributeError: 'int' object has no attribute 'shape'

In [26]:
a = np.array([1,np.nan])
np.array_equal(a,a)

False

The history saving thread hit an unexpected error (OperationalError('database is locked')).History will not be written to the database.

In [27]:
a = np.array([3,4])
b = a.copy()
np.array_equal(a,b)

True

In [29]:
a = np.empty([3,4])
b = np.empty([3,4])
np.array_equal(a,b)

False

In [30]:
a = np.zeros([3,4])
b = np.zeros([4,3])
np.array_equal(a,b)

False

In [33]:
import numpy as np

a = np.arange(100)
b = a[50:60:2]
print(a)
print(b)

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47
 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71
 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95
 96 97 98 99]
[50 52 54 56 58]

In [34]:
characters = ['Iron Man','Spider Man','Captain America']
actores  = ['Downey' ,'Holland', 'Evans']

[(x,y) for x in characters for y in actores]

[('Iron Man', 'Downey'),
 ('Iron Man', 'Holland'),
 ('Iron Man', 'Evans'),
 ('Spider Man', 'Downey'),
 ('Spider Man', 'Holland'),
 ('Spider Man', 'Evans'),
 ('Captain America', 'Downey'),
 ('Captain America', 'Holland'),
 ('Captain America', 'Evans')]

In [37]:
characters = ['Iron Man','Spider Man','Captain America']
actores  = ['Downey' ,'Holland', 'Evans']

print(zip(characters,actores))

<zip object at 0x0000013830A24B00>

In [36]:
characters = ['Iron Man','Spider Man','Captain America']
actores  = ['Downey' ,'Holland', 'Evans']

{x:y for x in characters for y in actores}

{'Iron Man': 'Evans', 'Spider Man': 'Evans', 'Captain America': 'Evans'}

In [40]:
list = {'Iron Man': 'Evans', 'Spider Man': 'Evans', 'Captain America': 'Evans'}

list.keys()

dict_keys(['Iron Man', 'Spider Man', 'Captain America'])

In [38]:
characters = ['Iron Man','Spider Man','Captain America']
actores  = ['Downey' ,'Holland', 'Evans']

d  = {}

for x in range(1,len(characters)):
    d[x] = actores[x]
    
print(d)

{1: 'Holland', 2: 'Evans'}

In [42]:
lista = ['agbrioel', 'maria']
lista[1] = 'jose'
lista

['agbrioel', 'jose']

In [52]:
import numpy as np


a = np.array([1,2,3])
b = np.array([4,5,6])
c=a*b
d= np.dot(a,b)
print(d)

32

In [45]:
x = {1,2,3,4,5}
x.add(5)
x.add(6)
print(x)

{1, 2, 3, 4, 5, 6}

In [48]:
[x*2 for x in range(1,5)]

[2, 4, 6, 8]

In [50]:
numbers = [1,2,3,4]
numbers[-2]

3