In [2]:
import warnings
import pandas as pd
from pandas.core.common import SettingWithCopyWarning
import numpy as np
import json

In [3]:
pd.options.display.max_rows = 999
pd.options.display.max_columns=999
warnings.simplefilter(action="ignore", category=SettingWithCopyWarning)

In [7]:
arquivo = 'DA_SD002.20220717.165532'

dfOrdemVenda = pd.read_csv(arquivo, sep=';',low_memory=False,header=None)

In [10]:
dfOrdemVenda[dfOrdemVenda[100]=='']

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
        ...
23997    NaN
23998    NaN
23999    NaN
24000    NaN
24001    NaN
Name: 100, Length: 24002, dtype: object

In [28]:
dfOrdemVenda[dfOrdemVenda[133].isin(['DTPR_4DFSCIS43E9G3Z9WMY6E1MWQL000001184','DTPR_4DFSCIS43E9G3Z9WMY6E1MWQL000001185'])][[0,96,97,125,132,133,134,135,136,137]]

,0,96,97,125,132,133,134,135,136,137
183,32411871,0003665328,0003665328,PADRﾃグ,ZGON,DTPR_4DFSCIS43E9G3Z9WMY6E1MWQL000001184,20220717,165531,1,184
184,32411871,0003665328,0003665328,PADRﾃグ,ZGON,DTPR_4DFSCIS43E9G3Z9WMY6E1MWQL000001185,20220717,165531,1,185