In [2]:
import warnings
import pandas as pd
from pandas.core.common import SettingWithCopyWarning
import numpy as np
import json
import os

In [3]:
pd.options.display.max_rows = 999
pd.options.display.max_columns=999
warnings.simplefilter(action="ignore", category=SettingWithCopyWarning)

In [43]:
arquivoCabecalho = 'C:\\Temp\\Abastecimento\\OP_OGMO02.20220726.123000'


dfCab = pd.read_csv(arquivoCabecalho, header=None, sep=';')

In [44]:
dfCab.rename(columns={0:'CodRelatorio', 2:'Dta', 4:'CodStatus'}, inplace=True)

dfCab = dfCab[dfCab['CodStatus'].isin(['D','E'])][['CodRelatorio','Dta','CodStatus']]

In [45]:
dfCab

        CodRelatorio       Dta CodStatus
0         1009528457  20220701         E
1         1009528458  20220701         E
2         1009578195  20220711         E
3         1009578196  20220711         E
4         1009578197  20220711         E
...              ...       ...       ...
104875    1009590005  20220713         E
104876    1009590006  20220713         E
104877    1009590007  20220713         E
104878    1009590008  20220713         E
104879    1009590009  20220713         E

[102992 rows x 3 columns]

In [48]:
arquivoItem = 'C:\\Temp\\Abastecimento\\OP_OGMO01.20220726.122832'

dfItem = pd.read_csv(arquivoItem, header=None, sep=';')

dfItem.rename(columns={0:'CodRelatorio', 1:'CodItem'}, inplace=True)

dfItem = dfItem[['CodRelatorio', 'CodItem']]

In [49]:
dfItem

        CodRelatorio  CodItem
0         1000110969       10
1         1000648823       10
2         1009205891       10
3         1009235496      170
4         1009398608      250
...              ...      ...
385954    1009640203       20
385955    1009640203       30
385956    1009640204       10
385957    1009640205       10
385958    1009640205       20

[385959 rows x 2 columns]

In [51]:
resultDCRCabecalhoItem = pd.merge(left=dfCab
                      , right=dfItem
                      , left_on='CodRelatorio'
                      , right_on='CodRelatorio')

In [54]:
resultDCRCabecalhoItem.groupby('Dta').count()

          CodRelatorio  CodStatus  CodItem
Dta
20220701         17925      17925    17925
20220702          7429       7429     7429
20220703           127        127      127
20220704         21518      21518    21518
20220705         18972      18972    18972
20220706         19802      19802    19802
20220707         20655      20655    20655
20220708         21020      21020    21020
20220709          7824       7824     7824
20220710            56         56       56
20220711         22943      22943    22943
20220712         19201      19201    19201
20220713         20039      20039    20039
20220714         19778      19778    19778
20220715         20446      20446    20446
20220716          7970       7970     7970
20220717            69         69       69
20220718         23182      23182    23182
20220719         18798      18798    18798
20220720         19944      19944    19944
20220721         18900      18900    18900
20220722         19851      19851    19851
20220723          7907       7907     7907
20220724            31         31       31
20220725         17716      17716    17716
20220726           297        297      297