In [ ]:
import warnings
import pandas as pd
from pandas.core.common import SettingWithCopyWarning
import numpy as np
import json
import os

In [10]:
pd.options.display.max_rows = 999
pd.options.display.max_columns=999
warnings.simplefilter(action="ignore", category=SettingWithCopyWarning)

Importação Arquivos de Fatura Gerado Pelo SAP BW

In [17]:

arquivosFatura = 'C:\\Temp\\Fatura\\'

dfFatura = pd.DataFrame()

for arquivos in os.listdir(arquivosFatura):
    
    arquivoCompleto = arquivosFatura+arquivos
    
    df = pd.read_csv(arquivoCompleto
                     , sep=';'
                     , low_memory=False
                     , usecols=(0,1,31,91,99,100,103)
                     , names=['CodItemDocFat'
                              , 'CodDocFaturamento'
                              , 'CodDocVenda'
                              , 'NumItemDocVenda'
                              , 'ChaveTransacaoBW'
                              , 'DataHoraTransacaoBW'
                              , 'Sequencial']
                     , dtype={'CodItemDocFat':'str'
                              , 'CodDocFaturamento':'str'
                              , 'CodDocVenda':'str'
                              , 'NumItemDocVenda':'str'
                              , 'ChaveTransacaoBW':'str'
                              , 'DataHoraTransacaoBW':'str'
                              , 'Sequencial': 'str'}
                     , d)
    
    df['Arquivo'] = arquivos
    
    dfFatura = dfFatura.append(df)
       
dfFatura['Chave'] = dfFatura['CodDocVenda'] + dfFatura['NumItemDocVenda']

In [18]:
dfFatura

,CodItemDocFat,CodDocFaturamento,CodDocVenda,NumItemDocVenda,ChaveTransacaoBW,DataHoraTransacaoBW,Sequencial,Arquivo,Chave
0,000001,9026232117,0032093206,000030,DTPR_BE9CDI5BY8M29HPXYOKW8CN5P0000011,20220602,1,DA_SD006.20220602.205441,0032093206000030
1,000001,9026232118,0032093206,000040,DTPR_BE9CDI5BY8M29HPXYOKW8CN5P0000012,20220602,2,DA_SD006.20220602.205441,0032093206000040
2,000001,9026313492,0031509925,000020,DTPR_BE9CDI5BY8M29HPXYOKW8CN5P0000013,20220602,3,DA_SD006.20220602.205441,0031509925000020
3,000001,9026313506,0031972482,000020,DTPR_BE9CDI5BY8M29HPXYOKW8CN5P0000014,20220602,4,DA_SD006.20220602.205441,0031972482000020
4,000001,9026313507,0031972482,000030,DTPR_BE9CDI5BY8M29HPXYOKW8CN5P0000015,20220602,5,DA_SD006.20220602.205441,0031972482000030
...,...,...,...,...,...,...,...,...,...
33852,000152,9027192053,0032827456,000090,DTPR_267FSPB3N14P8TC2MSM362EKD00000133853,20220719,33853,DA_SD006.20220719.205916,0032827456000090
33853,000153,9027192053,0032827456,000110,DTPR_267FSPB3N14P8TC2MSM362EKD00000133854,20220719,33854,DA_SD006.20220719.205916,0032827456000110
33854,000170,9027144909,4002371810,000170,DTPR_267FSPB3N14P8TC2MSM362EKD00000133855,20220719,33855,DA_SD006.20220719.205916,4002371810000170
33855,000170,9027179373,4002366008,000170,DTPR_267FSPB3N14P8TC2MSM362EKD00000133856,20220719,33856,DA_SD006.20220719.205916,4002366008000170
33856,000200,9027196840,4002112879,000200,DTPR_267FSPB3N14P8TC2MSM362EKD00000133857,20220719,33857,DA_SD006.20220719.205916,4002112879000200

In [43]:
arquivosFaturaNaoLocalizada = 'C:\\Temp\\faturaNaoLocalizada.csv'

dfFaturaNaoLocalizada = pd.read_csv(arquivosFaturaNaoLocalizada, sep=';',low_memory=False)

dfFaturaNaoLocalizada['CodDocVenda'] = pd.Series(dfFaturaNaoLocalizada['CodDocVenda']).astype(str).str.zfill(10) 
dfFaturaNaoLocalizada['NumItemDocVenda'] = pd.Series(dfFaturaNaoLocalizada['NumItemDocVenda']).astype(str).str.zfill(6) 

dfFaturaNaoLocalizada['Chave'] = dfFaturaNaoLocalizada['CodDocVenda'] + dfFaturaNaoLocalizada['NumItemDocVenda']

dfFaturaNaoLocalizada.drop_duplicates(subset=['CodDocVenda', 'NumItemDocVenda'], keep='first', inplace=True)

dfFaturaNaoLocalizada.reset_index(drop=True,inplace=True)

In [44]:
dfFaturaNaoLocalizada

   CodDocVenda NumItemDocVenda             Chave
0   0032685198          000010  0032685198000010
1   0032533861          000010  0032533861000010
2   0032572635          000010  0032572635000010
3   0032694315          000010  0032694315000010
4   0032687378          000010  0032687378000010
5   0032510126          000010  0032510126000010
6   0032606600          000010  0032606600000010
7   0032634577          000010  0032634577000010
8   0032791145          000010  0032791145000010
9   0032714678          000010  0032714678000010
10  0032658627          000010  0032658627000010
11  0032590401          000010  0032590401000010
12  0032608101          000010  0032608101000010
13  0032608106          000010  0032608106000010
14  0032616826          000010  0032616826000010
15  0032748056          000010  0032748056000010
16  0032533869          000010  0032533869000010
17  0032586883          000010  0032586883000010
18  0032533874          000010  0032533874000010
19  0032588543          000010  0032588543000010
20  0032610450          000010  0032610450000010
21  0032611786          000010  0032611786000010
22  0032716445          000010  0032716445000010
23  0032716451          000010  0032716451000010
24  0032589971          000010  0032589971000010
25  0032589973          000010  0032589973000010
26  0032589853          000010  0032589853000010
27  0032578926          000010  0032578926000010
28  0032590229          000010  0032590229000010
29  0032665956          000010  0032665956000010
30  0032748103          000010  0032748103000010

In [49]:
resultFaturaNaoLocalizada = pd.merge(left=dfFatura
                      , right=dfFaturaNaoLocalizada
                      , left_on='Chave'
                      , right_on='Chave')

resultFaturaNaoLocalizada.rename(columns={'CodDocVenda_x':'CodDocVenda','NumItemDocVenda_x':'NumItemDocVenda'},inplace=True)

In [48]:
resultFaturaNaoLocalizada

,CodItemDocFat,CodDocFaturamento,CodDocVenda_x,NumItemDocVenda_x,ChaveTransacaoBW,DataHoraTransacaoBW,Sequencial,Arquivo,Chave,CodDocVenda_y,NumItemDocVenda_y
0,000010,9027144330,0032687378,000010,DTPR_ASOLVRHPQA4SF2B5CVC29ZLFH0000011002,20220717,1002,DA_SD006.20220717.165504,0032687378000010,0032687378,000010
1,000010,9027175459,0032606600,000010,DTPR_ASOLVRHPQA4SF2B5CVC29ZLFH0000013442,20220717,3442,DA_SD006.20220717.165504,0032606600000010,0032606600,000010
2,000010,9027175478,0032606600,000010,DTPR_ASOLVRHPQA4SF2B5CVC29ZLFH0000013461,20220717,3461,DA_SD006.20220717.165504,0032606600000010,0032606600,000010

In [51]:
resultFaturaNaoLocalizada[['CodDocFaturamento'
                           , 'CodItemDocFat'
                           , 'CodDocVenda'
                           , 'NumItemDocVenda'
                           , 'ChaveTransacaoBW'
                           , 'DataHoraTransacaoBW'
                           , 'Sequencial'
                           , 'Arquivo']]

,CodDocFaturamento,CodItemDocFat,CodDocVenda,NumItemDocVenda,ChaveTransacaoBW,DataHoraTransacaoBW,Sequencial,Arquivo
0,9027144330,000010,0032687378,000010,DTPR_ASOLVRHPQA4SF2B5CVC29ZLFH0000011002,20220717,1002,DA_SD006.20220717.165504
1,9027175459,000010,0032606600,000010,DTPR_ASOLVRHPQA4SF2B5CVC29ZLFH0000013442,20220717,3442,DA_SD006.20220717.165504
2,9027175478,000010,0032606600,000010,DTPR_ASOLVRHPQA4SF2B5CVC29ZLFH0000013461,20220717,3461,DA_SD006.20220717.165504