In [1]:
from arquivo import DataFrame
import pandas as pd

In [2]:
arquivoDadosSelecao = '../BaseDados_Copa_Catar_2022/catar2022_base_selecoes.csv'
arquivoDadosJogador = '../BaseDados_Copa_Catar_2022/catar2022_base_jogadores.csv'
arquivoDadosGrupo = '../BaseDados_Copa_Catar_2022/catar2022_base_grupo.csv'
arquivoDadosEstadio = '../BaseDados_Copa_Catar_2022/catar2022_base_estadios.csv'

separador = ';'
encoding = 'latin1'
header = 0
numeroColunas = [0,2]
nomeColunas = ['NomeSelecao','NomeTreinador']

In [3]:
numeroColunas = [0,2]
nomeColunas = ['NomeSelecao','NomeTreinador']
parametro = 0

dataframe = DataFrame(arquivoDadosSelecao,separador,encoding,header,numeroColunas,nomeColunas,parametro)

dfSelecao = dataframe.carregaArquivo()

dfSelecao.head(2)

                NomeSelecao NomeTreinador
0    ( FRANÇA ou MORROCOS )  NÃO DEFINIDO
1  ( ARGENTINA ou CROÁCIA )  NÃO DEFINIDO

In [4]:
numeroColunas = [0,2]
nomeColunas = ''
parametro = 1

dataframeJogador = DataFrame(arquivoDadosJogador,separador,encoding,header,numeroColunas,nomeColunas,parametro)

dfJogador = dataframeJogador.carregaArquivo()

dfJogador.head(2)

     NOMJOGADOR NOMPOSICAO
0      AL-SHEEB        GOL
1  PEDRO MIGUEL        LAD

In [5]:
numeroColunas = ''
nomeColunas = ['NomeGrupo']
parametro = 2

dataframeGrupo = DataFrame(arquivoDadosGrupo,separador,encoding,header,numeroColunas,nomeColunas,parametro)

dfGrupo = dataframeGrupo.carregaArquivo()

dfGrupo.head(2)

  NomeGrupo
0     FINAL
1   GRUPO A

In [6]:
numeroColunas = ''
nomeColunas = ''
parametro = 3

dataframeEstadio = DataFrame(arquivoDadosEstadio,separador,encoding,header,numeroColunas,nomeColunas,parametro)

dfEstadio = dataframeEstadio.carregaArquivo()

dfEstadio.head(2)

                      NOMESTADIO  NUMCAPACIDADE
0  KHALIFA INTERNACIONAL STADIUM          45857
1          AHMAD BIN ALI STADIUM          45032